<app-header></app-header>
<div class="wrapper mt-4">
  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-offset-4 col-sm-5">
          <h4>{{this.responsedata.city.name}}, {{this.responsedata.city.country}}</h4>
          <div *ngIf="!errorhttp">  
            <span>{{this.responsedata.list[0].weather[0].description[0].toUpperCase() + this.responsedata.list[0].weather[0].description.slice(1)}} </span>
            <!-- <span>{{this.degCelcius}} &#8451;</span> -->
            <!-- <h5>Temperature MIN: {{this.responsedata.list[0].main.temp_min}}</h5>
            <h5>Temperature MAX: {{this.responsedata.list[0].main.temp_max}}</h5> -->
          </div>
          <div class="mb-4">
              <i class="fas fa-cloud fa-2x" *ngIf="cloudy"></i>
              <i class="fas fa-sun fa-2x" *ngIf="sunny"></i>
              <i class="fas fa-cloud-sun fa-2x" *ngIf="partialSunny"></i>
              <i class="fas fa-cloud-rain fa-2x" *ngIf="rainy"></i>
              <span class="degree-text pl-2">{{this.degCelcius}}</span>
            </div>
          <h4 *ngIf="errorhttp">Oops!!! Invalid URL</h4>
        </div>
        <div class="col-sm-3">
          <p><b>Humidity:</b> {{this.responsedata.list[0].main.humidity}}%</p>
          <p><b>Sea Level:</b> {{this.responsedata.list[0].main.sea_level}}hPA</p>
          <p><b>Ground Level:</b> {{this.responsedata.list[0].main.grnd_level}}hPA</p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <div class="btn-group float-right" role="group" aria-label="Basic example" (click)="onButtonGroupClick($event)" >
                <button type="button" class="btn btn-secondary active btn-sm" (click) = "onWindClick()">Wind</button>
                <button type="button" class="btn btn-secondary btn-sm" (click) = "onTempClick()">Temperature</button>
            </div>
            <!-- <div class="btn-group float-right" data-toggle="buttons">
              <label class="btn btn-secondary btn-sm">
                <input type="radio" name="options" id="option1" checked="checked" (change) = "onWindClick()"> Wind
              </label>
              <label class="btn btn-secondary btn-sm">
                <input type="radio" name="options" id="option2" (change) = "onTempClick()"> Temperature
              </label>
            </div> -->
            <canvas id="windBarChart" ></canvas>
          <canvas id="weatherLineChart" ></canvas>
        </div>
        <!-- <div class="col-sm-6">
          <canvas id="windBarChart" ></canvas>
        </div> -->
      </div>
    </div>
</div>

